@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(212, 45%, 89%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* font-family: 'Outfit', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 07%;
}

.container__img {
  max-width: 320px;
  border-radius: 8%;
  padding: 5%;
}

.text__item1 {
  color: black;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  text-align: center;
}

.text__item2 {
  color: black;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 14%;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: hsl(220, 15%, 55%);
}
